nav {
    margin: 20px;
    padding: 10px;
    border: 2px solid blue;
}
nav a{
    margin: 60px;
    font-size: 20px;
    text-decoration:none ;
    color:rgb(233, 10, 10);
}
body{
    background-color: rgb(24, 212, 181);
}
header h1 {
    color: rgb(5, 90, 55);
}
h1{
    color: rgb(221, 151, 45);
}
footer{
    background-color: rgb(30, 61, 238);
}
header h1{
    text-align: center ;
}
main{
    margin: 10 px;
}
main img{
    border-radius: 20px;
}
